body{
    background-color: #0C232B;
    color: #40E6D5;
    font-family: 'Lato', sans-serif;
}


.tel{
    text-indent: 10%;
}
.inft{
    text-indent: 5.5%;
}

.imagenes{
    background-image: none;
}

.segunda{
    text-indent: 20%;
}
